*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: white;
}


.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100vh;
    background: whitesmoke;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}

.sidebar a {
    text-decoration: none;
    color: black;
}

.top-header {
    position: fixed;
    top: 0;
    left: 220px;
    width: calc(100% - 220px);
    height: 85px;
    padding: 20px 40px;
    background: white;
    z-index: 1000;
}

.main-content {
    margin-left: 220px;
    padding-top: 115px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    min-height: 100vh;
    background: white;
}

.cards-top{
 display: flex;
 height: 300px;
 width: 100%;
}

.intake{
background: #BFECFF;
width: 700px;
border-radius: 10px;
height: 300px;
padding: 10px;
}

.add{
    background:#BFECFF ;
    margin-left: 20px;
    border-radius: 10px;
    width: 500px;
    height: 300px;
    padding: 10px;
}

.report{
 display: flex;
 height: 400px;
 width: 100%;
}

.week{
    background:#BFECFF ;
    border-radius: 10px;
    height: 300px;
    width: 500px;
    padding: 10px;
    margin-top: 20px;
}

.month{
    background:#BFECFF;
    margin-left: 20px;
    border-radius: 10px;
    padding: 10px;
    width:500px ;
    height: 300px;
    margin-top: 20px;
}